# Site settings
title: AKA Praha
description: Akademický klub alpinistů Praha
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://aka-praha.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown

# Collections
collections:
  events:
    output: true
    permalink: /akce/:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "events"
    values:
      layout: "event"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/
