# Site settings
title: AKA Praha
description: Akademický klub alpinistů Praha
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://aka-praha.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
future: true

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate-v2

# Pagination
pagination:
  enabled: true
  per_page: 9
  permalink: '/strana/:num/'
  title: ':title - strana :num'
  sort_field: 'date'
  sort_reverse: true

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/
