---
layout: default
---

<div class="content-wrapper article-content">
    <article class="article">
        <img src="{% if page.image %}{{ page.image }}{% else %}/assets/images/placeholder.svg{% endif %}" alt="{{ page.title }}" class="article-featured-image">

        <header class="article-header">
            <h1 class="article-title">{{ page.title }}</h1>
            <div class="article-meta">
                <svg class="article-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
                <span class="article-date">{% if page.categories contains 'event' %}{{ page.date_begin | date: "%d.%m.%Y" }}{% if page.date_end %} - {{ page.date_end | date: "%d.%m.%Y" }}{% endif %}{% else %}{{ page.date | date: "%d.%m.%Y" }}{% endif %}</span>
                {% if page.author %}<span class="article-author"> | {{ page.author }}</span>{% endif %}
            </div>
        </header>

        <div class="article-body">
            {{ content }}
        </div>

        <footer class="article-footer">
            {% if page.categories contains 'event' %}
            <a href="/akce/" class="btn btn-primary">← Zpět na seznam akcí</a>
            {% else %}
            <a href="/clanky/" class="btn btn-primary">← Zpět na seznam článků</a>
            {% endif %}
        </footer>
    </article>
</div>
